@import (reference) url('../mixin/mixin');
.products{

}
.products__item{
  .clearfix;
  margin-bottom: 10px;
}
.products__link{
  float: left;
  font-size: 23px;
}
.products__link_add{
  float: right;
}